:root {
    --pink: #ffc0cb;
    --lightgreen: #90ee90;
}

.products--sidebar {
    min-height: 90vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

body {

    background-color: var(--whiteBackground);
    color: var(--dark);
}

.products--mainContent {
    height: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    place-items: center;
    gap: 1rem;
    padding: 2rem;

}

.container {
    display: flex;
}

.sidebar--heading {
    font-size: 2rem;
}

.sidebar--container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.sidebar--content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn--clear {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 1rem;
    background: transparent;
    border: none;
    color: var(--dark);
    border: 1px solid var(--dark);
    opacity: 0;
}

.products--sidebar:hover .btn--clear {
    opacity: 1;
}

img {
    height: 20rem;
    width: 20rem;
    object-fit: scale-down;
    padding: 1rem;
}

.product--card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
    position: relative;
}

.addToCart {
    background-color: var(--lightgreen);
    border: none;
    color: var(--danger);
    padding: 1rem;

}

.product--card--buttons {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    opacity: 0;


}

.addToWishlist {
    background: transparent;
    color: var(--danger);
    padding: 1rem;
    border: none;
    border-radius: 50%;
}

.fa-heart {
    color: var(--danger);
}

.product--badge--blue {
    background-color: var(--info);
    position: absolute;
    top: 1rem;
    right: 0;
    height: 3rem;
    width: 6rem;
    display: grid;
    place-items: center;
}

.product--badge--red {
    background-color: var(--danger);
    color: var(--white);
    position: absolute;
    top: 1rem;
    right: 0;
    height: 3rem;
    width: 6rem;
    display: grid;
    place-items: center;

}

.product--badge--yellow {
    background-color: var(--warning);
    position: absolute;
    top: 1rem;
    right: 0;
    height: 3rem;
    width: auto;
    display: grid;
    place-items: center;
    letter-spacing: 3px;
    font-weight: 900;
    padding: 2px;
}

.product--card--heading {
    margin: .3rem 2rem;
    font-size: 1.5rem;
}

.product--card--price {
    margin: .3rem 2rem;
    font-size: 1.3rem;
}

.realPrice {
    font-size: 1.8rem;
}

.product--card:hover {
    background-color: var(--wheat);
    border-radius: .5rem;
    transform: scale(1.05);
    box-shadow: -1px 0px 27px -9px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.product--card:hover img {
    transform: rotate(10deg);
    transition: all .5s;
}

.product--card:hover .product--card--buttons {
    opacity: 1;
}

.product--rating {
    position: absolute;
    right: 1rem;
    top: 18rem;
}

.product--rating--badge {
    position: absolute;
    color: var(--white);
    right: 1rem;
    top: 17rem;
    padding: .5rem;
    background-color: var(--teal);
    font-size: 1.2rem;
}

.addToWishlist:hover {
    background-color: var(--pink);
}